@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --button: #cb4e06; /* default button background */
  --text-button: #ffffff; /* default button text */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-button: var(--button);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --button: #cb4e06; /* dark-mode button background */
    --text-button: #0a0a0a; /* dark-mode button text */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
